<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icone -->
    <link rel="shortcut icon" href="../images/IconeLogo.png" type="image/x-icon">

    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    

    <!-- link CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/build.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    
    <!-- Links icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- link js -->
    <script src="../js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
    
    <title>Build</title>
</head>
<body>
    <header>
        <div id="acessibilidade" class="container-fluid">
            <ul id="atalhos" class="list-group list-group-horizontal">
                <div class="col-md-8 d-inline-flex">
                    <li>
                        <a href="#conteudo" accesskey="1" title="Ir para o conteúdo da página">
                            Ir para conteúdo [1]
                        </a>
                    </li>
                    <li>
                        <a href="#menu" accesskey="2" title="Ir para o menu da navegação">
                            Ir para menu [2]
                        </a>
                    </li>
                    <li>
                        <a href="#rodape" accesskey="3" title="Ir para o rodapé">
                            Ir para rodapé [3]
                        </a>
                    </li>
                </div>
                <div class="col-md-4 d-md-inline-flex justify-content-end">
                    <li id="pgacess"><a href="acessibilidade.html">Acessibilidade</a></li>
                    <li class="contraste"><a href="javascript:void(0)" id="contraste">Contraste</a></li>
                    <li class="contraste"><a href="javascript:void(0)" id="semcontraste">Sem Contraste</a></li>
                    <li class="fonte"><a href="javascript:void(0)" id="aumentar">A +</a></li>
                    <li class="fonte"><a href="javascript:void(0)" id="diminuir">A -</a></li>
                </div> 
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="topo">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../images/Logo.png" alt="Avatar Logo" style="width:150px; height: 80px;"> 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" href="#">Monte seu Computador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="build.html">Builds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guias</a>
                    </li>
                </ul>
                <div class="search-button col-md-4">
                    <form class="d-flex" id="barraPesquisa">
                        <input class="form-control-plaintext" type="text" placeholder="Search" id="itemPesquisa" >
                        <label id="search-field">
                            <a href="" onclick="return focusPesquisa();">
                                <i class="fa fa-search"></i>
                            </a>
                        </label>
                    </form>
                </div>
                <div class="profile">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropleft" href="#" role="button" data-bs-toggle="dropdown">
                                <img src="../images/among_us.jpg" alt="">Perfil
                            </a>
                            <div class="dropdown-menu  dropdown-menu-end bg-dark ">
                                <button class="dropdown-item disabled bg-dark">
                                    <i class="fa fa-user-o"></i> Perfil
                                </button>
                                <a class="dropdown-item text-light" href="../Views/profile.html">Meu Perfil</a>
                                <a class="dropdown-item text-light"><i class="fa fa-question" aria-hidden="true"></i> Ajuda</a>
                                <a class="dropdown-item text-light"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- #212425 --> 
        <div class="headline">
            <div class="tagsBuild">
                <div class="tipoTela">
                    <marked>Build</marked>
                </div>
                <div class="dataCriacao">
                    <marked>SEX, 1 DE ABRIL, 2022</marked>
                </div>
            </div>
            <div class="otherProfile">
                <a class="nav-link dropleft" href="#" role="button" data-bs-toggle="dropdown">
                    <img src="../images/among_us2.png" alt="">Computador NukaCola - xxx_EnzoG4mer_xxx
                </a>
            </div>
        </div>

        <div class="wrapperCarousel">
            <div id="carousel">
                <div id="content">
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                    <div class="slide">
                        <img src="https://via.placeholder.com/300x150/" height="300px" width="150px" />
                    </div>                   	        	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	                	        	        	             	        	        	        	        	        	        	             	        	        	               	        	        	             	        	        	        	        	        	        	             	        	        	    	        	        	             	        	        	        
                </div>
            </div>
            <button id="prev" onclick="carousel();"><i class="arrow"></i></button>
            <button id="next" onclick="carousel();"><i class="arrow"></i></button>
        </div>
        <div id="descricaoSection">
            <div id="descricaoTitle">
                <b>Descrição</b>
            </div>
            <div class="form-group" >
                <textarea class="form-control" id="boxDescricao"  rows="4" disabled>Máquina de venda automática NukaCola personalizada com garrafas Quantum (Glass Coke a Cola).

Eu queria construir este PC usando o gabinete NZXT Nuka Cola... Fractal Define R6 USB-C com vidro temperado como chassi, e com vinil personalizado mas não foi possível.
Tem vários módulos RGB e ótima circulação de ar + sistema de liquid cooling.</textarea>
            </div>
        </div>

        <div class="container col-md-10 mt-2 col">           
            <table class="table table-borderless text-light ">
                <thead>
                <tr class="mt-2">

                <th class="col-md-1 col-1">Tipo</th>
                <th class="col-md-9 col">Produto</th>
                <th class="col-md-2 col">Preço</th>
                <th class="col-md col">Vendedor</th>
                
                </tr>

                </thead>
                <tbody>
                    <tr class="mt-2">
                        <td>
                            <div class="tipoComponente">
                                <marked>MoBo</marked>
                            </div>
                        </td>
                        <td>
                            <div class="d-sm-inline-flex p-2">
                                <a href="https://via.placeholder.com/70x70/">
                                    <p class="d-block d-md-none"><i class="fa fa-image"></i> Ver Imagem</p>
                                    <img class="peca" src="https://via.placeholder.com/70x70/" alt="">
                                </a>
                            </div>
                            <div class="d-sm-inline-flex p-2 text-white">
                                <span class="DescricaoProduto p-2">
                                    <p>Placa Mãe Asus EX-B560M</p>
                                    <a href="">
                                        <p class="plow"><i class="fa fa-search-plus" aria-hidden="true"></i> Mostrar detalhes</p>
                                    </a>
                                </span>           
                            </div>  
                        </td>
                        <td class="text-success p-sm-3">R$ 742,99</td>
                        <td class="d-flex justify-content-center p-sm-3">
                            <p class="d-block d-md-none">Kabum</p>
                            <img src="https://via.placeholder.com/80x22/" alt="">
                        </td>
                    </tr>
                    <tr class="mt-2">
                        <td>
                            <div class="tipoComponente">
                                <marked>CPU</marked>
                            </div>
                        </td>
                        <td>
                            <div class="d-sm-inline-flex p-2">
                                <a href="https://via.placeholder.com/70x70/">
                                    <p class="d-block d-md-none"><i class="fa fa-image"></i> Ver Imagem</p>
                                    <img class="peca" src="https://via.placeholder.com/70x70/" alt="">
                                </a>
                            </div>
                            <div class="d-sm-inline-flex p-2 text-white">
                                <span class="DescricaoProduto p-2">
                                    <p>Intel I5 10400F LGA1200</p>
                                    <a href="">
                                        <p class="plow"><i class="fa fa-search-plus" aria-hidden="true"></i> Mostrar detalhes</p>
                                    </a>
                                </span>           
                            </div>  
                        </td>
                        <td class="text-success p-sm-3">R$ 989,99</td>
                        <td class="d-flex justify-content-center p-sm-3">
                            <p class="d-block d-md-none">Kabum</p>
                            <img src="https://via.placeholder.com/80x22/" alt="">
                        </td>
                    </tr>
                    <tr class="mt-2">
                        <td>
                            <div class="tipoComponente">
                                <marked>RAM</marked>
                            </div>
                        </td>
                        <td>
                            <div class="d-sm-inline-flex p-2">
                                <a href="https://via.placeholder.com/70x70/">
                                    <p class="d-block d-md-none"><i class="fa fa-image"></i> Ver Imagem</p>
                                    <img class="peca" src="https://via.placeholder.com/70x70/" alt="">
                                </a>
                            </div>
                            <div class="d-sm-inline-flex p-2 text-white">
                                <span class="DescricaoProduto p-2">
                                    <p>Memória Corsair Vengeance LPX 8GB, DDR4, 2400MHz, CL16</p>
                                    <a href="">
                                        <p class="plow"><i class="fa fa-search-plus" aria-hidden="true"></i> Mostrar detalhes</p>
                                    </a>
                                </span>           
                            </div>  
                        </td>
                        <td class="text-success p-sm-3">R$ 214,90</td>
                        <td class="d-flex justify-content-center p-sm-3">
                            <p class="d-block d-md-none">Kabum</p>
                            <img src="https://via.placeholder.com/80x22/" alt="">
                        </td>
                    </tr>
                    <tr class="mt-2">
                        <td>
                            <div class="tipoComponente">
                                <marked>Case</marked>
                            </div>
                        </td>
                        <td>
                            <div class="d-sm-inline-flex p-2">
                                <a href="https://via.placeholder.com/70x70/">
                                    <p class="d-block d-md-none"><i class="fa fa-image"></i> Ver Imagem</p>
                                    <img class="peca" src="https://via.placeholder.com/70x70/" alt="">
                                </a>
                            </div>
                            <div class="d-sm-inline-flex p-2 text-white">
                                <span class="DescricaoProduto p-2">
                                    <p>GABINETE CORSAIR MID TOWER VIDRO TEMP, CC-9011166-WW</p>
                                    <a href="">
                                        <p class="plow"><i class="fa fa-search-plus" aria-hidden="true"></i> Mostrar detalhes</p>
                                    </a>
                                </span>           
                            </div>  
                        </td>
                        <td class="text-success p-sm-3">R$ 345,00</td>
                        <td class="d-flex justify-content-center p-sm-3">
                            <p class="d-block d-md-none">Kabum</p>
                            <img src="https://via.placeholder.com/80x22/" alt="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>
        <div class="container-fluid text-light text-right TextAfterTable">
            <h3>Voltagem Estimada: <small class="text-secondary">315W</small></h3>
            <h3>Total: <small class="text-secondary">R$ 4137,21</small></h3>
        </div>
        <br>     

    </main>
    
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <img src="../images/Logo.png" class="col-sm-12" id="low-logo" alt="">
                </div>
                <div class="col-xs-6 col-md">
                    <h6>Categorias</h6>
                    <ul class="footer-links">
                        <li><a href="#">Monte Seu computador</a></li>
                        <li><a href="#">Builds</a></li>
                        <li><a href="#">Guias</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md">
                    <h6>Informações</h6>
                    <ul class="footer-links">
                        <li><a href="#">Fóruns</a></li>
                        <li><a href="#">Variações de Preços</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md">
                    <ul class="footer-links">
                        <h6>Sobre nós</h6>
                        <li><a href="#">Equipe</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Políticas de Privacidade</a></li>
                        <li><a href="#">Código de Defesa do Consumidor</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md">
                    <h6>FAQ</h6>
                        <ul class="footer-links">
                        <li><a href="#">FAQ e Orientações</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
                    <a href="#">PC Maker</a>.
                </p>
                </div> 
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>