<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icone -->
    <link rel="shortcut icon" href="../images/IconeLogo.png" type="image/x-icon">

    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- link CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    
    <!-- Links icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- link js -->
    <script src="../js/script.js"></script>
    
    <title>Home</title>
</head>
<body>
    <header>
        <div id="acessibilidade" class="container-fluid">
            <ul id="atalhos" class="list-group list-group-horizontal">
                <div class="col-md-8 d-inline-flex">
                    <li>
                        <a href="#conteudo" accesskey="1" title="Ir para o conteúdo da página">
                            Ir para conteúdo [1]
                        </a>
                    </li>
                    <li>
                        <a href="#menu" accesskey="2" title="Ir para o menu da navegação">
                            Ir para menu [2]
                        </a>
                    </li>
                    <li>
                        <a href="#rodape" accesskey="3" title="Ir para o rodapé">
                            Ir para rodapé [3]
                        </a>
                    </li>
                </div>
                <div class="col-md-4 d-md-inline-flex justify-content-end">
                    <li id="pgacess"><a href="acessibilidade.html">Acessibilidade</a></li>
                    <li class="contraste"><a href="javascript:void(0)" id="contraste">Contraste</a></li>
                    <li class="contraste"><a href="javascript:void(0)" id="semcontraste">Sem Contraste</a></li>
                    <li class="fonte"><a href="javascript:void(0)" id="aumentar">A +</a></li>
                    <li class="fonte"><a href   ="javascript:void(0)" id="diminuir">A -</a></li>
                </div> 
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="topo">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../images/Logo.png" alt="Logo da Empresa" style="width:150px; height: 80px;"> 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" href="#">Monte seu Computador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Builds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guias</a>
                    </li>
                </ul>
                <div class="search-button col-md-4">
                    <form class="d-flex" id="barraPesquisa">
                        <input class="form-control-plaintext" type="text" placeholder="Search" id="itemPesquisa" >
                        <label id="search-field">
                            <a href="" onclick="return focusPesquisa();">
                                <i class="fa fa-search"></i>
                            </a>
                        </label>
                    </form>
                </div>
                <div class="profile">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropleft" href="#" role="button" data-bs-toggle="dropdown">
                                <img src="../images/among_us.jpg" alt="Foto de Perfil">Perfil
                            </a>
                            <div class="dropdown-menu  dropdown-menu-end bg-dark ">
                                <button class="dropdown-item disabled bg-dark">
                                    <i class="fa fa-user-o"></i> Perfil
                                </button>
                                <a class="dropdown-item text-light" href="../Views/profile.html">Meu Perfil</a>
                                <a class="dropdown-item text-light"><i class="fa fa-question" aria-hidden="true"></i> Ajuda</a>
                                <a class="dropdown-item text-light"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="conteudo">

        <div class="banner banner1">
            <div class="row-fluid">
                <div class="cardbanner">
                    <div class="card-body">
                        <h2 class="card-title text-light" style="font-weight: bold;">Monte seu Computador</h2>
                        <p class="card-text text-light">Utilize nossas mais recentes ferramentas para 
                            montar o seu PC do seu jeito.</p>
                        <a href="#" class="btn text-light">Montar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container cards">
            <h1 class="text-center text-light title">Builds mais votadas</h1>
            <div class="row pt-2 m-auto">
                <div class="col-md-6 col-lg-4 pb-3">
        
                <!-- Copy the content below until next comment -->
                <div class="card card-custom bg-dark text-light">
                    <div class="card-custom-img" style="background-image: url(../images/Build\ 1.png);"></div>
                        <div class="card-custom-avatar">
                            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar do Usuário"  />
                        </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title">Build 1</h4>
                        <ul class="card-text pt-3">
                            <li>Ryzen 7 5800X</li>
                            <li>Radeon RX 6800XT</li>
                            <li>32GB DDR4 3200MHz</li>
                        </ul>
                        <h6 class="text-secondary">Feito por Zezão extreme</h6>    
                    </div>
                </div>
                

        
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <a href="../Views/build.html" class="text-decoration-none">
                    <div class="card card-custom bg-dark text-light">
                        <div class="card-custom-img" style="background-image: url(../images/Build\ 2.png);"></div>
                            <div class="card-custom-avatar">
                                <img class="img-fluid bg-dark border border-light" src="../images/among_us2.png" alt="Avatar do Usuário" title="xxx_EnzoG4mer_xxx" />
                            </div>
                        <div class="card-body" style="overflow-y: auto">
                            <h4 class="card-title">Computador NukaCola</h4>
                            <ul class="card-text pt-3">
                                <li>Intel I5 10400F LGA1200</li>
                                <li>Radeon RX 6800XT</li>
                                <li>8GB DDR4 2400MHz</li>
                            </ul>
                            <h6 class="text-secondary">Feito por xxx_EnzoG4mer_xxx</h6>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
        
                <div class="card card-custom  bg-dark text-light">
                    <div class="card-custom-img" style="background-image: url(../images/Build\ 3.png);"></div>
                        <div class="card-custom-avatar">
                            <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar do Usuário" />
                        </div>
                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title">Build 3</h4>
                        <ul class="card-text pt-3">
                            <li>AMD Threadripper 3990X</li>
                            <li>RTX 3080</li>
                            <li>16 DDR4 3200MHz</li>
                        </ul>
                        <h6 class="text-secondary">Feito por Zezão extreme</h6>
                    </div>
                </div>
                
                </div> 
            </div>
        </div>

        <div class="banner banner2">

            <h1 class="text-center text-light">Guias</h1>

        </div>

    </main>
    
    <footer class="site-footer" id="rodape">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <img src="../images/Logo.png" class="col-sm-12" id="low-logo" alt="Logo da empresa">
                </div>
                <div class="col-xs-6 col-md">
                    <h6>Categorias</h6>
                    <ul class="footer-links">
                        <li><a href="#">Monte Seu computador</a></li>
                        <li><a href="#">Builds</a></li>
                        <li><a href="#">Guias</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md">
                    <h6>Informações</h6>
                    <ul class="footer-links">
                        <li><a href="#">Fóruns</a></li>
                        <li><a href="#">Variações de Preços</a></li>
                        <h6>Não possui conta?</h6>
                        <li><a href="../Views/cadastro.html">Cadastro</a></li>
                        <li><a href="../Views/login.html">Tela Login</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md">
                    <ul class="footer-links">
                        <h6>Sobre nós</h6>
                        <li><a href="#">Equipe</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Políticas de Privacidade</a></li>
                        <li><a href="#">Código de Defesa do Consumidor</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md">
                    <h6>FAQ</h6>
                        <ul class="footer-links">
                        <li><a href="#">FAQ e Orientações</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
                    <a href="#">PC Maker</a>.
                </p>
                </div> 
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>