.menu-line {
  background-color: var(--background-secondary); /* rgb(53, 58, 60) */
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  color: var(--text-primary) !important;
}

@media screen and (min-width: 768px) {
  .first-column-build {
    border-right: 0.5rem solid #212425;
  }
}

.menu-info-medio {
  color: var(--text-primary) !important;
}

.btn-builder {
  background-color: blueviolet;
  color: white;
  font-size: medium;
  font-weight: bold;
  border: none;
}

.btn-menu-line {
  background-color: transparent;
  border: none;
  color: white;
}

.notes-builder {
  border-bottom: #7042d5 solid 2px;
}

.state-note {
  background-color: green;
  text-align: center;
  height: 2rem;
}
