.contraste {
  background-color: var(--background-primary);
}

.headline {
  background-color: var(--background-secondary);
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.otherProfile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 2px 10px;
  border: 1px solid white;
}
.otherProfile a {
  display: inline-block; /*   ???  */
  color: aliceblue;
  font-weight: bold;
  width: fit-content;
  height: fit-content !important;
}

/* Builder*/

/* .menu-line {
  background-color: var(--background-secondary); 
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  color: var(--text-primary) !important;
}

@media screen and (min-width: 768px) {
  .first-column-build {
    border-right: 0.5rem solid #212422;
  }
}

.menu-info-medio {
  color: var(--text-primary) !important;
}

.btn-builder {
  background-color: var(--background-quinary) !important;
  color: var(--text-quaternary) !important;
  font-size: medium;
  font-weight: bold;
  border: none;
}

.btn-menu-line {
  background-color: transparent;
  border: none;
  color: white;
}

.obsComp {
  color: var(--text-primary);
}

.nvlComp {
  margin-bottom: 5 rem;
}

.notes-builder {
  border-bottom: #7042d5 solid 0.15rem;
}

.state-note {
  background-color: green;
  text-align: center;
  height: 2rem;
} */

/*Builder*/

.otherProfile a:hover {
  color: #f10cad;
  /*color: #7042D5;*/ /*dificuldade de visibilidade*/
}

@media screen and (min-width: 768px) {
  .tagsBuild {
    margin-left: 3rem;
  }
}

.tipoTela,
.dataCriacao {
  background-color: #7042d5;
  color: white;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;

  border-radius: 50px;
  border-top: 200px;
  border-bottom: 200px;
  position: relative;
  display: inline-block;
  padding: 0rem 0.7rem 0rem 0.7rem;
  width: auto;
  height: auto;
}

.content {
  background-color: #212425;
  width: 100%;
  height: 100%;
  position: relative;
}

/*     Carousel     */

.wrapperCarousel {
  width: 80%;
  position: relative;
  margin: 14px auto;
  height: 8rem;
  border-bottom: #7042d5 solid 0.15rem;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(0, 79, 182, 0.7);
  border: none;
  padding: 14px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 40%;
  left: 0;
  transform: translate(50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

#next {
  top: 40%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
}

#descricaoSection {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--text-primary);
}

#secaoSuperiorComponentes {
  padding-bottom: 2%;
  border-bottom: #7042d5 solid 0.15rem;
}

#listaComponentes {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--text-primary);
  padding-top: 3%;
  padding-bottom: 5%;
}

#descricaoTitle {
  padding-bottom: 0.7rem;
}

#boxDescricao {
  height: fit-content;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  resize: none;
  text-align: left;
  border: #7042d5 solid 1px;
}

.tipoComponente {
  background-color: #7042d5;
  border: 1px absolute black;
  color: aliceblue;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 5%;
  border-radius: 50px;
  border-top: 200px;
  border-bottom: 200px;
  position: relative;
  display: inline-block;
  padding: 0rem 0.7rem 0rem 0.7rem;
  width: 4rem;
  height: auto;
}

@media screen and (min-width: 768px) {
  #prev {
    left: -5rem;
  }
  #next {
    right: -5rem;
  }
}

button .arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#prev .arrow {
  position: relative;
  left: 3px;
  transform: rotate(135deg);
}

#next .arrow {
  position: relative;
  right: 3px;
  transform: rotate(-45deg);
}

#content {
  width: 50%;
  min-height: auto;
  display: flex;
  flex-wrap: nowrap;
}

#content .slide {
  width: 100%;
  margin-right: 1rem;
}

#content img {
  height: 6.5rem;
}

@media screen and (max-width: 576px) {
  .peca,
  .Vendedor {
    display: none;
  }
  .tipoComponente {
    width: min-content;
  }
  .table thead,
  tbody {
    font-size: small;
  }
}

div.slide {
  min-width: 100%;
}

div.slide:not(:last-child) {
  margin-right: -5rem;
}

@media all and (min-width: 448px) {
  div.slide {
    min-width: 50%;
  }
}

@media all and (min-width: 778px) {
  div.slide {
    min-width: 33%;
  }
}

/* Table */

.table {
  margin-bottom: 2rem;
}

.table thead {
  border-bottom: #7042d5 solid 0.15rem;
}

.table tr {
  height: 5rem;
}

.table tr:last-child {
  border-bottom: #7042d5 solid 0.15rem;
}

.table tbody .peca {
  width: 70px;
  height: 70px;
}

.VendedorImg {
  width: 80px;
  height: 20px;
}

.DescricaoProduto {
  position: relative;
  top: -1rem;
  padding-top: 2px;
}

.plow {
  position: relative;
  top: -1rem;
  height: 1px;
  font-size: small;
}

@media screen and (min-width: 1300px) {
  .DescricaoProduto {
    height: 1px;
  }
}

@media screen and (max-width: 576px) {
  .peca,
  .Vendedor {
    display: none;
  }
  .tipoComponente {
    width: min-content;
  }
  .table thead,
  tbody {
    font-size: small;
  }
}

.modal-.navbar {
  border-bottom: 2px solid #7042d5;
}
/* Texto Abaixo */

.TextAfterTable h3 {
  text-align: right;
  margin-right: 2rem;
  margin-bottom: 7rem; /* Original é 2rem, remover se voltar com as notificacoes de compatibildade que estao ocultas */
}

@media screen and (min-width: 768px) {
  .TextAfterTable h3 {
    margin-right: 8rem;
  }
}

/* Rate */
.RattingIcons i {
  color: transparent;
  -webkit-text-stroke: 1px var(--text-secondary); /*    rgba(255, 255, 255, 0.5)   */
}

.RattingVote input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Rate {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 1.5rem;
}

#upvote:checked + .Rate i {
  color: green;
  -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5);
}
#downvote:checked + .Rate i {
  color: red;
  -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5);
}
#fav:checked + .Rate i {
  color: #7042d5;
  -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5);
}

input:checked + .Rate:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
