main {
  background-color: var(--background-primary) !important; /* #212425 */
  margin: 0;
  padding: 0;
}

.menu-line {
  background-color: var(--background-secondary); /* rgb(53, 58, 60) */
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  color: var(--text-primary) !important;
}

@media screen and (min-width: 768px) {
  .first-column-build {
    border-right: 0.5rem solid #212422;
  }
}

.menu-info-medio {
  color: var(--text-primary) !important;
}

.btn-builder {
  background-color: var(--background-senary) !important;
  color: var(--text-quaternary) !important;
  font-size: medium;
  font-weight: bold;
  border: none;
}

.btn-menu-line {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
}

.obsComp {
  color: var(--text-primary);
}

.nvlComp {
  margin-bottom: 5 rem;
}

.notes-builder {
  border-bottom: #7042d5 solid 2px;
}

.state-note {
  background-color: green;
  text-align: center;
  height: 2rem;
}

.first-column-build {
  border-right: 2px solid var(--background-quaternary);
}

.barra-compatibilidade {
  background-color: green;
  color: white !important;
}

.barra-potencia {
  background-color: #037bc4;
  color: white !important;
}

.bottonB {
  margin-bottom: 3rem;
}

.descBuild {
  background: var(--background-primary) !important;
  border-color: var(--background-tertiary) !important;
  color: var(--text-primary) !important;
  max-height: 20rem;
}

.nomeBuild {
  background: var(--background-primary) !important;
  border-color: var(--background-tertiary) !important;
  color: var(--text-primary) !important;
  max-height: 2rem;
  resize: none;
}

.texto {
  color: var(--text-primary) !important;
  background: var(--background-gradient-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary) !important;
}

.cont {
  color: var(--text-primary) !important;
}

.totalBuilder {
  padding-right: 9rem !important;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.valorTotalBuilder {
  color: var(--text-primary) !important;
}

.inputQtdItem {
  background: var(--background-tertiary) !important;
  color: var(--text-primary) !important;
  border-color: var(--background-tertiary-transparent);
  width: 3rem;
}

.cardbanner {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.cardbanner .card-body-h a {
  /* background-color: var(--background-secondary); */
  margin-bottom: 1rem;
  position: relative;
  top: 0.8rem;
}

.card-body,
.card-build {
  background-color: var(--background-secondary) !important;
  color: var(--text-primary) !important;
}

.card-title {
  color: var(--text-primary);
}

.cardbanner .card-body-h a:fa-close {
  background-color: rgba(112, 66, 213, 0.6);
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  width: 100px;
  height: 100px;
}

.card-custom-avatar {
  align-self: left;
  position: absolute;
  top: 290px;
  left: 10px;
}

.cardMainMonteHead {
  color: var(--white) !important;
  font-size: 2rem;
}

.cardMainMonteCont {
  color: var(--white) !important;
  font-size: 1rem;
}

.boxBuilds {
  padding-bottom: 6rem !important;
}

@media (max-width: 1280px), (max-height: 720px) {
  .site-footer{
    height: 100% !important;
  }
  i{
    font-size: 0.9rem;
  }
  th{
    font-size: 0.7rem;
  }
  .btn-builder{
    width: 85%;
  }
  .totalBuilder{
    padding-bottom: 5rem;
  }
  .btnFuncoesBuild{
    width: 100% !important;
  }
  .first-column-build {
    border-right: none !important;
  }
  .barra-compatibilidade{
    width: 100% !important;
  }
  .barra-potencia{
    width: 100% !important;
  }
}