main {
  background-color: var(--background-primary) !important; /* #212425 */
  margin: 0;
  padding: 0;
}

.menu-line {
  background-color: var(--background-secondary); /* rgb(53, 58, 60) */
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  color: var(--text-primary) !important;
}

@media screen and (min-width: 768px) {
  .first-column-build {
    border-right: 0.5rem solid #212422;
  }
}

.menu-info-medio {
  color: var(--text-primary) !important;
}

.btn-builder {
  background-color: var(--background-senary) !important;
  color: var(--text-quaternary) !important;
  font-size: medium;
  font-weight: bold;
  border: none;
}

.btn-menu-line {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
}

.obsComp {
  color: var(--text-primary);
}

.nvlComp {
  margin-bottom: 5 rem;
}

.notes-builder {
  border-bottom: #7042d5 solid 2px;
}

.state-note {
  background-color: green;
  text-align: center;
  height: 2rem;
}

.first-column-build {
  border-right: 2px solid var(--background-quaternary);
}

.barra-compatibilidade {
  background-color: green;
  color: white !important;
}

.barra-potencia {
  background-color: #037bc4;
  color: white !important;
}

.bottonB {
  margin-bottom: 3rem;
}

.descBuild {
  background: var(--background-primary) !important;
  border-color: var(--background-tertiary) !important;
  color: var(--text-primary) !important;
  max-height: 20rem;
}

.nomeBuild {
  background: var(--background-primary) !important;
  border-color: var(--background-tertiary) !important;
  color: var(--text-primary) !important;
  max-height: 2rem;
  resize: none;
}

.texto {
  color: var(--text-primary) !important;
  background: var(--background-gradient-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary) !important;
}

.cont {
  color: var(--text-primary) !important;
}

.totalBuilder {
  padding-right: 9rem !important;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.valorTotalBuilder {
  color: var(--text-primary) !important;
}

.inputQtdItem {
  background: var(--background-tertiary) !important;
  color: var(--text-primary) !important;
}
