#footer .container .row {
  padding-bottom: 8px;
}

.fw-bold {
  color: white !important;
}

.minorText {
  color: white !important;
}

.textTherme {
  font-size: smaller;
}

.pt-2 {
  color: white !important;
}

.bg-secondary {
  background-color: #6610f2 !important;
  text-align: center;
  padding-bottom: 0.7rem;
}

.card {
  border-radius: 4%;
}

.opcaoLogin {
  padding-top: 1.5rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.nomeInput {
  background-color: #292b2c;
  color: white;
  border: 0.2px solid #606060;
  border-radius: 20px;
}

input[type="date"] {
  background-color: #292b2c;
  color: white;
  border: 0.2px solid #606060;
  height: 2rem;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 1rem; /* linha nao esta fazendo diferenca*/
}

.social-icons a.apple:hover {
  background-color: gray;
}
.social-icons a.google:hover {
  background-color: #db4437;
}

.social-icons a {
  background-color: rgb(57, 17, 123);
  width: 43px;
  height: 43px;
}

/* .social-icons a{
    display: flex;
    justify-content:center;
    background-color: #292b2c;
    width: 80px;
    height: 80px;
} */

.social-icons i {
  position: relative;
  font-size: larger;
}
