body {
  background: rgba(57, 17, 123, 0.844538);
  background: linear-gradient(
    243.38deg,
    rgba(57, 17, 123, 0.844538),
    44.97%,
    rgba(26, 64, 200, 0.85),
    95.59%
  );
}

.fw-bold {
  color: white !important;
}

.minorText {
  color: white !important;
}

.pt-2 {
  color: white !important;
}

.bg-secondary {
  background-color: #6610f2 !important;
  text-align: center;
  padding-bottom: 0.7rem;
}

/* Formulário */

.DontHAveAccount {
  color: #393f81;
}

.social-icons a.apple:hover {
  background-color: gray;
}
.social-icons a.google:hover {
  background-color: #db4437;
}

.social-icons a {
  background-color: rgb(57, 17, 123);
  width: 43px;
  height: 43px;
  color: #fff;
}
.social-icons a i {
  color: #fff;
}

.card-login {
  border-bottom-right-radius: 2%;
  border-top-right-radius: 2%;
}

@media (min-width: 992px) {
  .btn-login {
    margin-left: -3.5rem;
  }
}

@media (max-width: 992px) {
  .btn-login {
    margin-left: -0.1rem;
  }
}
#email,
#senha,
#confirmar-Email,
#confirmar-Senha,
#nome {
  background-color: #292b2c;
  color: white;
  border: 0.2px solid #606060;
  height: 2rem;
  border-radius: 10rem;
  padding-left: 1rem;
  width: 100%;
}

#senha {
  width: 75%;
}

img {
  width: 100%;
  height: 100%;
}

.cadastrese {
  color: #00dcff;
}

.btn-outline-info {
  --bs-btn-color: #9cf210 !important;
  --bs-btn-border-color: #9cf210 !important;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #9cf210 !important;
  --bs-btn-hover-border-color: #9cf210 !important;
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #9cf210 !important;
  --bs-btn-active-border-color: #9cf210 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #9cf210 !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9cf210 !important;
  --bs-gradient: none;
}
