body {
  background: rgba(57, 17, 123, 0.844538);
  background: linear-gradient(
    243.38deg,
    rgba(57, 17, 123, 0.844538),
    44.97%,
    rgba(26, 64, 200, 0.85),
    95.59%
  );
}

.fw-bold {
  color: white !important;
}

.minorText {
  color: white !important;
}

.pt-2 {
  color: white !important;
}

.bg-secondary {
  background-color: #6610f2 !important;
  text-align: center;
  padding-bottom: 0.7rem;
}

/* Formulário */

.DontHAveAccount {
  color: #393f81;
}

.social-icons a.apple:hover {
  background-color: gray;
}
.social-icons a.google:hover {
  background-color: #db4437;
}

.social-icons a {
  background-color: rgb(57, 17, 123);
  width: 43px;
  height: 43px;
}

.card-login {
  border-bottom-right-radius: 2%;
  border-top-right-radius: 2%;
}

@media (min-width: 992px) {
  .btn-login {
    margin-left: -3.5rem;
  }
}

@media (max-width: 992px) {
  .btn-login {
    margin-left: -0.1rem;
  }
}
#email,
#senha,
#confirmar-Email,
#confirmar-Senha,
#nome {
  background-color: #292b2c;
  color: white;
  border: 0.2px solid #606060;
  height: 2rem;
  border-radius: 10rem;
  padding-left: 1rem;
  width: 80%;
}

img {
  width: 100%;
  height: 100%;
}
