:root {
  --background-primary: white;
  --background-secondary: rgb(223, 223, 223);
  --background-tertiary: rgb(
    196,
    196,
    208
  ); /*rgb(154, 154, 154);*/ /* precisa ser trocado */
  --background-quaternary: #f0f0f0;
  --background-quinary: rgb(84, 82, 115);
  --background-senary: rgb(213 213 212);
  --background-primary-transparent: rgba(255, 255, 255, 0.4);
  --background-secondary-transparent: rgba(
    102,
    16,
    242,
    0.9
  ); /* rgba(223, 223, 223, 0.2)  */
  --background-tertiary-transparent: rgba(111, 66, 193, 0.4);
  --text-primary: black;
  --text-secondary: rgb(29, 29, 29);
  --text-tertiary: white;
  --text-quaternary: #9529c6;
  --text-quinary: #e3dfdf;
  --text-senary: #8d24f2;
  --social-icons: #e3dfdf;
  --social-icons2: #1f8dd6;
  --accent: purple;
  --background-gradient-primary: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(222, 222, 222, 1) 35%,
    rgba(217, 217, 217, 1) 100%
  );
  --button-back: #8d24f2;
  --button-front: #3e1291;
  --black: black;
  --white: white;
}
[data-theme="dark"] {
  --background-primary: #212425;
  --background-secondary: #353a3c;
  --background-tertiary: #1f1b24;
  --background-quaternary: #15151585;
  --background-quinary: #1d0f37; /* teste */
  --background-senary: #1d0f37;
  --background-primary-transparent: rgba(33, 36, 37, 0.9);
  --background-secondary-transparent: rgba(
    102,
    16,
    242,
    0.9
  ); /* rgba(247, 255, 255, 0.5) */
  --background-tertiary-transparent: rgba(111, 66, 193, 0.4);
  --text-primary: white;
  --text-secondary: aliceblue;
  --text-tertiary: black;
  --text-quaternary: #d7bdca;
  --text-quinary: #e3dfdf;
  --text-senary: #c68bff;
  --social-icons: #1e1e1e;
  --social-icons2: #1f8dd6;
  --accent: #811e4f;
  --background-gradient-primary: linear-gradient(
    180deg,
    rgba(33, 36, 37, 1) 0%,
    rgba(46, 50, 51, 1) 35%,
    rgba(63, 65, 66, 1) 100%
  );
  --background-gradient-secondary: linear-gradient(
    180deg,
    rgb(62, 64, 65) 0%,
    rgb(6, 6, 6) 100%
  );
  --button-back: #ae306f;
  --button-front: #3e1291;
  --black: black;
  --white: white;
}
[data-theme="contraOn"] {
  --background-primary: black;
  --background-secondary: black;
  --background-tertiary: black;
  --background-quaternary: black;
  --background-quinary: black;
  --background-senary: black;
  --background-primary-transparent: black;
  --background-secondary-transparent: black;
  --background-tertiary-transparent: black;
  --text-primary: yellow;
  --text-secondary: yellow;
  --text-tertiary: yellow;
  --text-quaternary: yellow;
  --text-quinary: yellow;
  --text-senary: yellow;
  --social-icons: black;
  --social-icons2: black;
  --accent: black;
  --background-gradient-primary: black;
  --background-gradient-secondary: black;
  --button-back: black;
  --button-front: black;

  --black: yellow;
  --white: yellow;
  --yellow: yellow;
  --bold: bold;
  --borderContra: yellow;
}

/* primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, and denary*/
html {
  font-size: 15px;
}
main {
  background-color: var(--background-primary);
  margin: 0;
  min-height: 65vh !important;
}

body {
  background-color: var(--background-primary);
}

.texto {
  color: var(--text-primary) !important;
  background: var(--background-gradient-primary) !important;
}

.textoCor {
  color: var(--text-primary) !important;
}

.cardLateral {
  background-color: var(--background-quaternary) !important;
  color: var(--text-primary) !important;
}

.texto-temoso {
  color: var(--text-primary) !important;
}

.linkCategoria {
  text-decoration: none !important;
}

.modal-content {
  background-color: var(--background-tertiary) !important;
  color: var(--text-primary) !important;
}

.btn-modal-primary {
  background-color: var(--button-back) !important;
  border: none;
  color: var(--white) !important;
}

.btn-modal-primary:hover {
  background-color: var(--accent) !important;
  border: none;
  color: var(--white) !important;
}

.btn-modal-secondary {
  background-color: var(--button-front) !important;
  border: none;
  color: var(--white) !important;
}

.btn-modal-secondary:hover {
  background-color: var(--background-quinary) !important;
  border: none;
  color: var(--white) !important;
}

.modal-exp-header,
.modal-exp-footer {
  border-color: var(--background-secondary-transparent);
}

/* Navbar */

li {
  color: var(--text-primary);
}

.buildOrigin {
  color: var(--text-quaternary) !important;
}

.cardBold {
  font-weight: bold !important;
}

.imagemPerfil {
  border-color: var(--text-primary) !important;
  color: var(--text-primary) !important;
}

.nav-link {
  color: var(--text-primary) !important;
}
.fa-solid {
  color: var(--text-primary);
  /*background-color: var(--background-secondary);*/
}

.fa {
  color: var(--text-primary);
}

.navbar,
#acessibilidade,
#topo {
  margin-bottom: 0 !important;
  background-color: var(--background-primary);
}

.search-button form {
  background-color: var(--background-tertiary);
  display: inline-block;
  margin-left: 2rem;
  border-radius: 0.7rem;
  border-color: var(--borderContra);
  color: var(--yellow);
}

.search-button input {
  display: inline-block;
  background: none;
  border: none;
  color: var(--text-primary); /* white */
  padding: 0.5rem;
}

.search-button button {
  border: none;
  align-items: center;
  position: relative;
  background-color: transparent;
  margin: 0.5rem 0.5rem 0.5rem 0.7rem;
  color: white;
  display: block;
}

@media screen and (min-width: 998px) {
  .profile {
    position: absolute;
    right: 2.5rem;
  }
}

.profile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 2px 10px;
  border: 1px solid white;
}

.profile .dropdown-item,
.dropdown-navbar .dropdown-item {
  border-right: #7042d5 solid 0.7rem;
  background-color: var(--background-primary);
  color: var(--text-primary);
}
.profile .dropdown-item:hover {
  background-color: var(--background-secondary);
  color: var(--text-primary);
}

.perfilDropdown {
  background-color: var(--background-primary);
}

/* Site footer */

.site-footer {
  /* background-color: var(--background-tertiary); */
  background-color: var(--background-quinary);
  padding: 45px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
@media (min-width: 720px) {
  .site-footer {
    height: 40vh !important; /*Impede de aparecer aql barra branca quando der zoom out */
  }
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  /* color: var(--text-primary); */
  color: var(--text-quinary) !important;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: var(--text-quinary);
}

.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  /* color: var(--text-primary); */
  color: var(--text-quinary);
  opacity: 0.9;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
  justify-items: center;
}

.site-footer .social-icons a {
  width: 45px;
  height: 45px;
  text-decoration: none;
}

.site-footer .social-icons i {
  width: 30px;
  height: 30px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: var(--social-icons); /* #9e9cb4 */
  position: relative;
  top: 7px;
  right: 3px;
  text-align: center;
}

.copyright-text {
  margin: 0;
  color: var(--text-quinary);
}

@media (max-width: 1200px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
  .img-login {
    height: 40rem;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: var(
    --background-secondary-transparent
  ); /*#341688*/ /* trocar dps com o tema escuro*/
  /* color: #818a91; */
  font-size: 1.2rem;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: var(--social-icons2);
}

.social-icons a.twitter:hover {
  background-color: var(--social-icons2);
}

.social-icons a.linkedin:hover {
  background-color: var(--social-icons2);
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* Barra de acessibilidade */
#acessibilidade {
  font-size: 1rem;
  padding-top: 1rem;
}

#acessibilidade a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--text-primary);
}

.atalhos {
  list-style: none;
}

.atalhos li {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .Funcoes {
    position: absolute;
    right: 0;
  }
}

#oopss {
  background: #222;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
  left: 0px;
}

#error-text {
  top: 30%;
  position: relative;
  font-size: 40px;
  color: #eee;
}

#error-text a {
  color: #eee;
}

#error-text a:hover {
  color: #fff;
}

#error-text p {
  color: #eee;
  margin: 70px 0 0 0;
}

#error-text i {
  margin-left: 10px;
}

#error-text p.hmpg {
  margin: 40px 0 0 0;
}

#error-text span {
  position: relative;
  background: #ef4824;
  color: #fff;
  font-size: 300%;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: bolder;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 40px 0;
}

#error-text span:hover {
  background: #d7401f;
  color: #fff;
  -webkit-animation: jelly 0.5s;
  -moz-animation: jelly 0.5s;
  -ms-animation: jelly 0.5s;
  -o-animation: jelly 0.5s;
  animation: jelly 0.5s;
}

#error-text span:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ef4824;
  border-width: 7px;
  margin-left: -7px;
}

@-webkit-keyframes jelly {
  from,
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

@keyframes jelly {
  from,
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
/* CSS Error Page Responsive */

@media only screen and (max-width: 640px) {
  #error-text span {
    font-size: 200%;
  }
  #error-text a:hover {
    color: #fff;
  }
}

.back:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  transform: scale(0.95);
  background: #f53b3b;
  color: #fff;
}

.back:hover {
  background: #4c4c4c;
  color: #fff;
}

.back {
  text-decoration: none;
  background: #5b5a5a;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-out;
}

.btnBuilderImg {
  border-color: var(--text-primary) !important;
}

.loginButton,
.cadButton {
  background-color: var(--background-secondary-transparent) !important;
  color: var(--white) !important;
  font-weight: var(--bold);
  margin-right: 2rem;
}

.loginButton:hover,
.cadButton:hover {
  background-color: var(--button-front) !important;
}

/* 

.cadButton {
  background-color: var(--background-secondary-transparent) !important;
  margin-right: 2rem;
}

.cadButton:hover {
  background-color: var(--button-front) !important;
} 
*/

.removeComponenteX {
  margin-left: 2rem;
}

@media (max-width: 900px), (max-height: 450px) {
  .logoFooter {
    /* width: 35vh !important;
    height: 14vh !important; */

    width: 20vh !important;
    height: 7vh !important;
  }
}

@media (max-width: 1280px) and (max-height: 720px) {
  .logoHeader {
    width: 20vh !important;
    height: 7vh !important;
  }
  .logoFooter {
    width: 35vh !important;
    height: 14vh !important;

    /* width: 20vh !important;
    height: 7vh !important; */
  }
}
